.actionswrapper {
  position: absolute;
  top: 0;
  right: 0;
  margin: .7rem;
  display: flex;
  flex-direction: row-reverse;
}
.actionswrapperitem {
  margin-left: .7rem;
}
.actionswrapper .homeiconbutton svg {
  width: 1rem;
  height: 1rem;
  fill: var(--chakra-colors-current);
}
