.suggestions {
  border: 1px solid #0070f3;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  margin: 0 1rem;
}

.suglink {
  list-style: none;
  line-height: 1.5rem;
  text-decoration: underline;
}

.searchicon, .exicon {
  padding: 0.5rem 0.7rem;
  margin-left: 0.3rem;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.searchwrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1rem;
  width: 20rem;
}

.searchwrapper button {
  margin-left: 1rem;
}

.searchwrapper input {
  border-radius: .4rem;
}
.searchwrapper p {
  font-size: .5rem;
}

.searchsvg {
  width: 1rem;
}