.container {
  padding: 0 2em;
}

.main {
  min-height: 100vh;
  padding: 4em 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2em 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3em;
}

.subtitle {
  margin: 0 0 1em 0;
  line-height: 1;
  font-size: 2em;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4em 0;
  line-height: 1.5;
  font-size: 1em;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75em;
  font-size: 1.1em;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1em;
  padding: 1em;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 100%;
}

.card h2 {
  margin: 0 0 1em 0;
  font-size: 1.5em;
}

.card p {
  margin: 0;
  font-size: 1.25em;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.homelist {
  width: calc(100% - 100px);
  margin-left: calc(10% - 15px);
  margin-top: 20px;
}

.booklist a {
  font-weight: bold;
  margin: auto 1rem !important;
  line-height: 1;
  list-style: none;
  text-decoration: underline;
}
.booklist :global .chakra-avatar {
  cursor: pointer;
}

.bookindexbutton {
  margin: .75rem .6rem;
}

.sharetoastbutton {
  margin: 1rem 0.5rem 0 0;
}

.chapterlist {
  margin: 1em 0;
  line-height: 1;
  font-size: 1em;
  list-style: none;
}

.versenumber {
  font-weight: bold;
  color: #0070f3;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.searchcontainer {
  position: fixed;
  line-height: 1;
  font-size: 1em;
  top: 0;
  right: 0;
  padding: 1em;
  max-width: calc(100% - 100px);
  min-width: 250px;
}

.bottomactions {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 1em;
  left: 0;
  right: 0;
  margin: 0 1.5em;
}

.nextprev {
  padding: 0.1em;
  font-size: 2em;
}

.stylelinks li {
  list-style: none;
  margin: .5em 0 .5em 1em;
}
.stylelinks a {
  color: #0070f3;
  text-decoration: underline;
}

/* smartphones, touchscreens */
@media (max-width: 550px) {
  .container {
    padding: 0 .2em;
  }
  .container {
    font-size: 14px;
  }
}
